<div class="form-container">
  <!-- Form de cadastro de produtos -->
  <h1>Cadastro de produtos</h1>
  <form (ngSubmit)="f.form.valid && saveRecord(f)" #f="ngForm" novalidate>
    
    <label>
      Nome:
      <input type="text" 
      [(ngModel)]="record.nameItem" 
      id="nameItem" name="nameItem" 
      required class="form-control" 
      placeholder="Digite o Nome">
    </label>

    <div>
      <label>
        Unidade de medida:
        <select type="text" 
        [(ngModel)]="record.unitMeasurement" 
        id="unitMeasurement" name="unitMeasurement" 
        required class="form-control" 
        placeholder="Selecione uma unidade de medida">

          <option value="km">quilômetro</option>
          <option value="m">metro</option>
          <option value="cm">centímetro</option>
          <option value="mm">milímetro</option>
          <option value="kg">quilograma</option>
          <option value="g">grama</option>
          <option value="mg">miligrama</option>
          <option value="l">litro</option>
          <option value="ml">mililitro</option>
        </select>
      </label>
      
      <label>
        Quantidade:
        <input type="number" 
        [(ngModel)]="record.quantity" 
        id="quantity" name="quantity"
        required class="form-control" 
        placeholder="Digite a quantidade">
      </label>

      <label>
        Preço:
        <input type="number"    
        [(ngModel)]="record.price" 
        id="price" name="price" 
        required class="form-control" 
        placeholder="Digite o preço">
      </label>
    </div>

    <div>
      <label>
        Dados de validade:
        <input type="date"
        [(ngModel)]="record.validityData" 
        id="validityData" name="validityData" 
        required class="form-control">
      </label>

      <label>
        Data de fabricação:
        <input type="date" 
        [(ngModel)]="record.dateManufacture" 
        id="dateManufacture" name="dateManufacture" 
        required class="form-control">
      </label>
    </div>

    <div class="checked">
      <label>
        Produto perecível:
        <input type="checkbox"
        [(ngModel)]="record.perishableProduct" 
        id="perishableProduct" name="perishableProduct" 
        required class="form-control">
      </label>
    </div>
    <div class="button">
      <button type="submit"> Salvar </button>
     <a [routerLink]="['/']" > <button type="reset" (click)="cleanForm(f)"> Cancelar </button> </a>
    </div>
  </form>

</div>
