<div class="container-table">
  <!-- Tabela de items-->
  <table>
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nome do item</th>
        <th scope="col">Unidade de medida</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Preço</th>
        <th scope="col">Data de validade</th>
        <th scope="col">Data de fabricação</th>
        <th scope="col">Produto perecível</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of records">
        <td>{{record.id}}</td>
        <td>{{record.nameItem}}</td>
        <td>{{record.unitMeasurement}}</td>
        <td>{{record.quantity}}</td>
        <td>{{record.price | currency:"BRL"}}</td>
        <td>{{record.validityData | date:"dd/MM/yyyy"}}</td>
        <td>{{record.dateManufacture | date:"dd/MM/yyyy"}}</td>
        <td>{{record.perishableProduct}}</td> 
        <td> 
          <button type="button"  (click)="editRecord(record)">Editar</button>
          <button type="button"  (click)="deleteRecord(record)">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  