<div class="container-table">
  <table>
    <thead>
      <tr>
        <th>Nome do item</th>
        <th>Unidade de medida</th>
        <th>Quantidade</th>
        <th>Preço</th>
        <th>Produto perecível</th>
        <th>Data de validade</th>
        <th>Data de fabricação</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Limao</td>
        <td>kg</td>
        <td>100</td>
        <td>$100</td>
        <td>nao</td>
        <td>24/01/2021</td>
        <td>24/12/2020</td>
      </tr>
      <tr>
        <td>Limao</td>
        <td>kg</td>
        <td>100</td>
        <td>$100</td>
        <td>nao</td>
        <td>24/01/2021</td>
        <td>24/12/2020</td>
      </tr>
      <tr>
        <td>Limao</td>
        <td>kg</td>
        <td>100</td>
        <td>$100</td>
        <td>nao</td>
        <td>24/01/2021</td>
        <td>24/12/2020</td>
      </tr>
      <tr>
        <td>Limao</td>
        <td>kg</td>
        <td>100</td>
        <td>$100</td>
        <td>nao</td>
        <td>24/01/2021</td>
        <td>24/12/2020</td>
      </tr>
    </tbody>
  </table>
</div>
  