<div class="container-table">
  <!-- Tabela de items-->
  <table>
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nome do item</th>
        <th scope="col">Unidade de medida</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Preço</th>
        <th scope="col">Data de validade</th>
        <th scope="col">Data de fabricação</th>
        <th scope="col">Produto perecível</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of records">
        <td>{{record.id}}</td>
        <td>{{record.nameItem}}</td>
        <td>{{record.unitMeasurement}}</td>
        <td>{{record.quantity}}</td>
        <td>{{record.price}}</td>
        <td>{{record.validityData}}</td>
        <td>{{record.dateManufacture}}</td>
        <td>{{record.perishableProduct}}</td>
        <td> 
          <button type="button" class="btn-delete" (click)="deleteRecord(record)">Deletar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
  