*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 
  // padrao = font-size: 16px (desktop)
  html {
    font-size: 16px;
    @media (max-width: 1080px) {
      font-size: 93.75%; // 15px
    }
    @media (max-width:720px) {
      font-size: 87.5%; // 14px
    }
    //REM = 1rem = 16px
  }
 
  body {
    background:#F0F2F5;
    -webkit-font-smoothing: antialiased; //fontes mais nitidas
  }
 
  body, input, textarea, button {
    font-family: Roboto, "Helvetica Neue", sans-serif; 
    font-weight: 400;
  }
 
  h1, h2, h3, h4, h5, h6, strong {
    font-weight: 500;
  }
 
  button{
    cursor: pointer;
  }
 
  [disable] {
    opacity: 0.6 ;
    cursor: not-not-allowed;
  }
